<div class='image-builder-container'>
  <div ng-if="fabric.isLoading()" class="image-loading">
    <div class="loading-indicator"></div>
  </div>

  <div class="top menu">
    
    <div class="button" style="height: 100%; margin-left: 35px;">
        <input type='range' class='pull-left' min='.1' max='3' step='.1' ng-change='setZoom()' ng-model='fabric.canvasScale' style="height: 34px;"/>
    </div>

    <div class="button hvr-underline-from-center" style="float: right">
      Kaydet<span ng-show='fabric.isDirty()' class='text-danger'>*</span>
    </div>
    <div class="button hvr-underline-from-center" ng-click="fabric.clearCanvas(); fabric.setDirty(true)" style="float: right;">
      Temizle
    </div>
    
  </div>

  <div class="objectProperties" ng-if="objectSelected" ng-style="propertyElStyles">
    <select class="fontFamilySelect" ng-model="objectProperties.fontFamily" ng-options="value as key for (key , value) in fonts" ng-change="updateFont()"></select>

    <input ng-model="objectProperties.fontSize" type="number" max="100" min="10" ng-change="fabric.setFontSize(objectProperties.fontSize)"/>

    <button ng-class="{ active: fabric.isBold() }" ng-click="fabric.toggleBold(); updateFont()" class='btn btn-small'>
        <i class='fa fa-bold'></i>
    </button>

    <button ng-class="{ active: fabric.isItalic() }" ng-click="fabric.toggleItalic(); updateFont()" class='btn btn-small'>
        <i class='fa fa-italic'></i>
    </button>

    <button ng-class="{ active: fabric.isUnderline() }" ng-click="fabric.toggleUnderline()" class='btn btn-small'>
        <i class='fa fa-underline'></i>
    </button>

    <button ng-class="{ active: fabric.getTextAlign() == 'left' }" ng-click="fabric.setTextAlign('left')" class='btn btn-small'>
        <i class='fa fa-align-left'></i>
    </button>

    <button ng-class="{ active: fabric.getTextAlign() == 'center' }" ng-click="fabric.setTextAlign('center')" class='btn btn-small'>
        <i class='fa fa-align-center'></i>
    </button>

    <button ng-class="{ active: fabric.getTextAlign() == 'right' }" ng-click="fabric.setTextAlign('right')" class='btn btn-small'>
        <i class='fa fa-align-right'></i>
    </button>

    <input class="colorPicker" colorpicker type="text" ng-model="objectProperties.color" ng-change="fabric.setFill(objectProperties.color)" ng-style="{'background-color': objectProperties.color}"/>
  </div>

  <div class='col-xs-9'>
    <div class='image-builder' parent-click="fabric.deactivateAll()">
      <div class='fabric-container osx' contextmenu menu-list="lists" click-menu="clickMenu(item)" menu-shown="menuShown()" >
        <canvas fabric='fabric'></canvas>
      </div>
      <div class="addNewPage" ng-click="addNewPage()"> + Yeni Sayfa Ekle </div>
    </div>
  </div>
</div>
</div>
