<div class="sidebarMenu">
    <div class="menuItem template" ng-click="activeView = 'template'"></div>
    <div class="menuItem text" ng-click="activeView = 'text'"></div>
    <div class="menuItem background" ng-click="activeView = 'background'"></div>
    <div class="menuItem upload" ng-click="activeView = 'upload'"></div>
</div>

<div class="sidebarList">
    <div ng-switch on="activeView">
        <div ng-switch-when="template">
            <div class="templateItem" ng-repeat="record in templates.records" ng-click="getTemplate(record['UniqueID'])">
                <img src="http://alokartvizit.com/{{ record.ThumbImage }} "/>
            </div>
        </div>
        <div ng-switch-when="text">
            METİN
        </div>
        <div ng-switch-when="background">
            ARKAPLAN
        </div>
        <div ng-switch-when="upload">
            YÜKLENEN
        </div>
    </div>
</div>
