<div class="sidebarMenu">
    <div class="menuItem template" ng-click="setActiveView('template')"></div>
    <div class="menuItem text" ng-click="setActiveView('text')"></div>
    <div class="menuItem background" ng-click="setActiveView('background')"></div>
    <div class="menuItem upload" ng-click="setActiveView('upload')"></div>
</div>

<div class="sidebarList" infinite-scroll="loadMore()">
    <div ng-switch on="activeView">
        <div ng-switch-when="template">
            <div class="templateItem" ng-repeat="record in templates.records" ng-click="getTemplate(record['UniqueID'])">
                <img src="http://alokartvizit.com/{{ record.ThumbImage }} "/>
            </div>
        </div>
        <div ng-switch-when="text">
            <div class="textTypes">
                <h1 class="textType" ng-click="addTextToEditor(54)"> Büyük Başlık </h1>
                <h2 class="textType" ng-click="addTextToEditor(36)"> Alt Başlık </h2>
                <h3 class="textType" ng-click="addTextToEditor(22)"> Normal Metin </h3>
                <h4 class="textType" ng-click="addTextToEditor(14)"> Küçük Metin </h4>
            </div>
        </div>
        <div ng-switch-when="background">
            <div class="backgroundImages">
                <h1> Arkaplan Resimleri </h1>
                <div class="dropContainer">
                    <div ngf-drop ng-model="files" class="dropBox"
                         ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
                         ngf-accept="'image/*,application/pdf'">
                       BURAYA SÜRÜKLEYİN
                    </div>

                    <!-- <div class="uploadButton" ngf-select ng-model="files">Dosya Seç</div> -->
                    <div class="uploadButton" ngf-select ngf-change="upload($files)">Dosya Seç</div> <!-- Todo: Use after upload backend done -->

                    <div ngf-no-file-drop> Sürükle Bırak Desteklenmiyor. </div>

                </div>

                <img ng-repeat="file in uploadedBgImages" ng-src="{{ file.thumbnail }}" ngf-accept="'image/*'" class="loadedImage" ng-click="addBackgroundToEditor(file)"> <!-- Todo: Use after upload backend done -->
            </div>
        </div>
        <div ng-switch-when="upload">
            <div class="backgroundImages">
                <h1> Yüklediğiniz Resimler </h1>
                <div class="dropContainer">
                    <div ngf-drop ng-model="files" class="dropBox"
                         ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
                         ngf-accept="'image/*'">
                        BURAYA SÜRÜKLEYİN
                    </div>

                    <div class="uploadButton" ngf-select ngf-change="upload($files)">Dosya Seç</div> <!-- Todo: Use after upload backend done -->

                    <div ngf-no-file-drop> Sürükle Bırak Desteklenmiyor. </div>

                </div>
                <img ng-repeat="file in uploadedImages" ng-src="{{ file.thumbnail }}" ngf-accept="'image/*'" class="loadedImage" ng-click="addImageToEditor(file)">
            </div>
        </div>
    </div>
</div>
