body {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.sidebar {
    position: absolute;
    height: 100%;
}

.editor {
    width: calc(100% - 430px);
    height: 100%;
    position: absolute;
    left: 430px;
    min-width: 600px;
    background: radial-gradient(hsl(0, 100%, 100%) 0%, hsla(0, 0%, 0%, 0.1) 100%) fixed;
}
