.sidebarMenu {
    float: left;
    width: 70px;
    height: 100%;
    background-color: rgb(38, 43, 50);
}

.sidebarMenu .menuItem {
    color: white;
    font-size: 11px;
    text-align: center;
    height: 100px;
    margin-top: 10px;
    cursor: pointer;
}

.sidebarMenu .menuItem:before {
    content: '';
    display: inline-block;
    height: 48px;
    width: 84%;
}

.sidebarList {
    float: left;
    width: 360px;
    height: 100%;
    padding: 20px 0px;
    background-color: #3f4652;
    overflow-y: auto;
}

.sidebarMenu .menuItem.template:before {
    background-image: url('../images/menu/sablon.png');
    margin-left: 5px;
    margin-top: 30px;
}

.sidebarMenu .menuItem.text:before {
    background-image: url('../images/menu/metin.png');
    margin-left: 5px;
    margin-top: 30px;
}

.sidebarMenu .menuItem.background:before {
    background-image: url('../images/menu/arkaplan.png');
    margin-left: 5px;
    margin-top: 30px;
}

.sidebarMenu .menuItem.upload:before {
    background-image: url('../images/menu/yuklenen.png');
    margin-left: 5px;
    margin-top: 30px;
}

.templateItem {
    cursor: pointer;
    margin-bottom: 20px;
    display: inline-block;
    float: left;
    margin-left: 15px;
    width: 150px;
}

.templateItem > img {
    width: 100%;
}

.textTypes {
    padding-top: 20px;
}

.textTypes .textType {
    color: white;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.textTypes h1 { font-size: 50px; }
.textTypes h2 { font-size: 36px; }
.textTypes h3 { font-size: 22px; }
.textTypes h4 { font-size: 14px; }

.backgroundImages h1 {
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.dropContainer {
    background: #373a3d;
    padding: 20px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.dropContainer .uploadButton {
    background-color: #007a96;
    padding: 12px 26px;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    margin: 12px auto 0;
}

.dropBox {
    background-color: #2E3134;
    border: 2px dotted #444A4D;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    padding: 30px 10px;
}

.loadedImage {
    width: 100%;
}
